<%= form_with(model: @post, local: true) do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div>
    <%= f.file_field  :image %>
  </div>

  <div>
    <%= f.radio_button :status, 'draft' %>
    <%= f.label :status, 'Draft' %>

    <%= f.radio_button :status, 'published' %>
    <%= f.label :status, 'Published' %>
  </div>

  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
