<h1><%= @post.title %></h1>
<div>
    <%= @post.body %>
</div>
<div>
    <%= image_tag @post.image %>
</div>

</p>
<% if current_user.id == @post.user_id || logged_in?(:admin) %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %>
  <%= link_to "#{@post.status}", toggle_status_post_path(@post) %>
<% end %>
